.header
		{
			font-family: cursive;
			color: azure;
			text-align: center;
			padding: 0.5px !important;
			border: 5px;
			background-color:rgb(13, 76, 87);
			border-radius: 8px;
		}
		body
		{
			background-color: white;
		}
		.footer
		{
			font-family: cursive;
			color: azure;
			text-align: center;
			padding: 8px !important;
			border: 10px;
			background-color: rgb(13, 76, 87);
			border-radius: 8px;
			bottom: 5px;
			width: 99.2%;
		}
		.column
		{
			float: left;
			padding: 10px;
			height: 817px;
			border-radius: 8px;
		}
		.column.left
		{
			width: 77%;
		}
		.column.right
		{
			width: 23%;
		}
		.button1
		{
			font-family: cursive;
			font-size: 18px;
			border-radius: 10px;
			background-color: rgb(13, 76, 87);
			color: azure;
			width: 100px;
			height: 50px;
		}
		.button1:hover
		{
			border-radius: 10px;
			font-size: 22px;
			background-color: black;
			color: aqua;
			width: 120px;
			height: 60px;
		}
		.button2
		{
			font-family: cursive;
			font-size: 18px;
			border-radius: 10px;
			background-color: rgb(13, 76, 87);
			color: azure;
			width: 100px;
			height: 50px;
		}
		.button2:hover
		{
			border-radius: 10px;
			font-size: 22px;
			background-color: black;
			color: aqua;
			width: 120px;
			height: 60px;
		}
		.button3
		{
			font-family: cursive;
			font-size: 18px;
			border-radius: 10px;
			background-color: rgb(13, 76, 87);
			color: azure;
			width: 100px;
			height: 50px;
		}
		.button3:hover
		{
			border-radius: 10px;
			font-size: 22px;
			background-color: black;
			color: aqua;
			width: 120px;
			height: 60px;
		}
		.button4
		{
			font-family: cursive;
			font-size: 18px;
			border-radius: 10px;
			background-color: rgb(13, 76, 87);
			color: azure;
			width: 100px;
			height: 50px;
		}
		.button4:hover
		{
			border-radius: 10px;
			font-size: 22px;
			background-color: black;
			color: aqua;
			width: 120px;
			height: 60px;
		}
		.button5
		{
			font-family: cursive;
			font-size: 18px;
			border-radius: 10px;
			background-color: rgb(13, 76, 87);
			color: azure;
			width: 100px;
			height: 50px;
		}
		.button5:hover
		{
			border-radius: 10px;
			font-size: 22px;
			background-color: black;
			color: aqua;
			width: 120px;
			height: 60px;
		}
		.button6
		{
			font-family: cursive;
			font-size: 18px;
			border-radius: 10px;
			background-color: rgb(13, 76, 87);
			color: azure;
			width: 100px;
			height: 50px;
		}
		.button6:hover
		{
			border-radius: 10px;
			font-size: 22px;
			background-color: black;
			color: aqua;
			width: 120px;
			height: 60px;
		}
		.button7
		{
			font-family: cursive;
			font-size: 18px;
			border-radius: 10px;
			background-color: rgb(13, 76, 87);
			color: azure;
			width: 220px;
			height: 40px;
		}
		.button7:hover
		{
			border-radius: 10px;
			font-size: 22px;
			background-color: black;
			color: aqua;
			width: 300px;
			height: 50px;
		}
		.button8
		{
			font-family: cursive;
			font-size: 18px;
			border-radius: 10px;
			background-color: rgb(13, 76, 87);
			color: azure;
			width: 220px;
			height: 40px;
		}
		.button8:hover
		{
			border-radius: 10px;
			font-size: 22px;
			background-color: black;
			color: aqua;
			width: 300px;
			height: 50px;
		}
		.button9
		{
			font-family: cursive;
			font-size: 18px;
			border-radius: 10px;
			background-color: rgb(13, 76, 87);
			color: azure;
			width: 220px;
			height: 40px;
		}
		.button9:hover
		{
			border-radius: 10px;
			font-size: 22px;
			background-color: black;
			color: aqua;
			width: 300px;
			height: 50px;
		}
		.button10
		{
			font-family: cursive;
			font-size: 18px;
			border-radius: 10px;
			background-color: rgb(13, 76, 87);
			color: azure;
			width: 220px;
			height: 40px;
		}
		.button10:hover
		{
			border-radius: 10px;
			font-size: 22px;
			background-color: black;
			color: aqua;
			width: 300px;
			height: 50px;
		}
		@media screen and (max-width: 787px)
		{
			.column.left, .column.right
			{
				width: 100%;
			}
			.row
			{
				width: 100%;
				display: flex;
				flex-direction: column !important;
			}
			.header
			{
				text-align: center;
				width: 100%;
			}
			.footer
			{
				text-align: center;
				width: 100%;
			}
		}
		.row
		{
			width: 100%;
			content: "";
			display: flex;
			flex-direction: row;
			clear: both;
			border-radius: 15px;
		}
		input
		{
			font-size: 14px;
		}
		td
		{
			font-size: 18px;
		}
		#signup
		{
			display: none;
		}
		#dropdown
		{
			display: none;
			float: left;
		}
		#gallery
		{
			display: none;
		}
		.gally
		{
			margin: 10px 50px;
		}
		.gally img
		{
			width: 230px;
			padding: 5px;
			filter: grayscale(100%);
			transition: 1s;
		}
		.gally img:hover
		{
			filter: grayscale(0);
			transform: scale(1.1);
		}


		.clicker {
			width:100px;
			height:100px;
			background-color:blue;
			outline:none;
			cursor:pointer;
			}
			
			.hiddendiv{
			display:none;
			height:200px;
			background-color:green;
			}
			
			.clicker:focus + .hiddendiv{
			display:block;
			}